*{
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    background-color: #070128ea;
    color: #eeca00f5;
    display: flex;
   justify-content: space-around;
}

.cabecalho-imagem {
    width: 250px;
  }

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    margin-top: 100px;
    font-size: 35px;
}


    

